body {
	height: 100px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	scroll-behavior: smooth;
}

section {
	width: 100px;
	height: 100vh;
	background-image: url(image/bgl.png);
	background-size: cover;
	background-position: center;
}

section nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 0 8 px rgb(0, 0, 0, 0.6);
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: rgb(115, 245, 245);
}

section nav .logo {
	font-size: 35px;
	color: #c72092;
	margin: 5px 0;
	cursor: pointer;
	position: relative;
	left: -4%;
}

section nav .logo span {
	color: #6c14d0;
	text-decoration: underline;
}

section nav ul {
	list-style: none;
}

section nav ul li {
	display: inline-block;
	margin: 5px 15px;
}

section nav ul li a {
	text-decoration: none;
	color: none;
	transition: 0.2s;
	color: #0000ee;
}

section nav ul li a:hover {
	color: #c72092;
}

section nav .icons {
	margin: 0 4px;
	cursor: pointer;
	font-size: 18px;
	transition: 0.3s;
}

section nav .icons i:hover {
	color: #c72092;
}

main img {
	display: flex;
	flex-direction: row;
	height: 500px;
	width: 1843px;
	position: sticky;
}

.dropdown-link {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-link a {
	color: black;
	/* color: #0000ee;   */
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-link {
	display: block;
}

.dropdown {
	display: inline-block;
	position: relative;
}

.dropbn {
	color: #0000ee;
	background-color: rgb(115, 245, 245);
	padding: 5px 12px;
	font-size: 15px;
	border: none;
}

.ca {
	display: flex;
	flex-direction: row;
	border: 2px solid black;
	background-color: gray;
	padding: 100px;
}

.cs {
	display: flex;
	flex-direction: column;
	margin-left: 150px;
}

.ac {
	display: flex;
	flex-direction: column;
	margin-left: 250px;
}

.fa-solid {
	display: flex;
	flex-direction: row;
	color: blue;
	margin-left: 15px;
}

.container {
	margin-left: 250px;
	margin-bottom: 50px;
	width: 1000px;
	min-height: 550px;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: linear-gradient(0deg, rgb(34,193,195,1) 0%, rgb(229, 122, 239)86%); */
	background-color: #f2f2f2;
	position: relative;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-top: 90px;
	margin-left: 50px;
}

.product img {
	display: flex;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
	width: 150px;
	height: 200px;
	margin-bottom: 100px;
}

img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.right1 {
	/* border: 2px solid black; */
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
	height: 200px;
	margin-left: 90px;
	justify-content: space-around;
}

h2 {
	color: #333;
	font-size: 35px;
}

h4 {
	color: #555;
	font-size: 30px;
	font-weight: 600;
}

h3 {
	color: #00d874;
	margin-bottom: 20px;
}

h5 {
	font-size: 15px;
	font-weight: 200;
}

#myButton {
	background: #3dbf7c;
	color: #fff;
	font-size: 17px;
	padding: 10px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	margin-top: 50px;
}